.container {
  padding-top: 15px;
  background-image: linear-gradient(to left, #fbd4cf, #817289);
  border-radius: 5%;
}

.list_inline_item {
  cursor: pointer;
}

.list_inline_item:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
}

.fb:hover {
  color: blue;
}

.tw:hover {
  color: cadetblue;
}

.in:hover {
  color: orangered;
}

.li:hover {
  color: blue;
}

.wp:hover {
  color: green;
}

.setform {
  margin-bottom: 15px;
}

.maindiv {
  margin: auto;
  padding-top: 15px;
}

.inputstyle {
  border: none;
  /* border-bottom: 1px solid #311b92; */
  border-radius: 5%;
  /* background-color: #e9ecef; */
  /* background-image: linear-gradient(to left, #fbffff, #817289); */
}

.social {
  margin: auto;
  margin-top: 180px;
  padding-top: 15px;
}
