.header {
  width: 100%;
  height: 110px;
  display: inline-flex;
  /* border: 1px solid black; */
  /* background-color: #fbffff; */
  background-color: transparent;
  z-index: 1;
  margin-bottom: 10px;
  position: absolute;
}

.headerBackground {
  position: absolute;

  /* background-color: #f69487; */
  background-color: rgba(254, 244, 243, 0.6);
  /* background-color: #f69487; */
  height: 125px;
  width: 100%;
  z-index: -1;
}
