/* .logoDiv {
  width: 8%;
  height: 110px;
  margin: 1% 8% 0 8%;
}

.logoImg {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1300px) and (min-width: 1120px) {
  .logoDiv {
    margin-left: 4%;
  }
}

@media screen and (max-width: 1120px) {
  .logoDiv {
    margin-left: 12%;
    width: 10%;
  }
} */

/* Mobile */

.logoDiv {
  width: 17%;
  height: 75%;
  margin: 3% 8% 0 6%;
  /* border: 1px solid black; */
}
.logoImg {
  height: 100%;
  width: 100%;
}
